@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
         
#btn-grad {
  background-image: linear-gradient(to right, #e52d27 0%, #fa3a41  51%, #e52d27  100%);
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  /* transition: 0.25s; */
  background-size: 200% auto;
  color: white;            
  border-radius: 20px;
  display: block;
}

#game-cell:hover #game-picture {
  filter: brightness(1);
  transform: scale(1.1);
}

.rbc-day-bg {
  background-color: black !important;
}

.rbc-off-range-bg {
  background-color: rgb(95, 95, 95) !important;
}

.rbc-header {
  background-color: black !important;
  color: white !important;
  border: 1px solid rgb(95, 95, 95) !important;
}

.rbc-toolbar-label {
  color: black !important;
  font-size: 2rem;
  font-weight: 700;
}

.rbc-toolbar {
  margin-bottom: 1rem !important;
}

.rbc-toolbar > .rbc-btn-group > button {
  background-color: black !important;
  color: white !important;
}

.rbc-event {
  padding: 0 !important;
  height: 100%;
  width: 100% !important;
  background-color: red !important;
  padding-left: 4px !important;
}

.rbc-events-container {
  border: none !important;
  width: 100% !important;
}

.rbc-event-content {
  font-size: 16px !important;
}

.rbc-timeslot-group {
  padding: 0 !important;
  border: 1px solid rgb(95, 95, 95) !important;
  border-collapse: collapse !important;
}

.rbc-time-slot {
  color: white;
  border: none !important;
  padding: 0 !important;
}
.rbc-time-column, .rbc-day-slot {
  background-color: black !important;
  border: none !important;
}

.rbc-time-header-gutter {
  background-color: black !important;
}

.rbc-row-content {
  border: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-allday-cell {
  display: none !important;
}

.rbc-active {
  background-color: red !important;
}

tr {
  background-color: black !important;
}

.rbc-off-range {
  color: white !important;
}

.rbc-current-time-indicator {
  background-color: red !important;
}