@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#btn-grad {
  background-image: linear-gradient(to right, #e52d27 0%, #fa3a41  51%, #e52d27  100%);
  padding: 20px 40px;
  text-align: center;
  text-transform: uppercase;
  /* transition: 0.25s; */
  background-size: 200% auto;
  color: white;            
  border-radius: 20px;
  display: block;
}

#game-div:hover #game-pic {
  transform: scale(1.1);
}

#game-title {
  text-shadow: 2px 2px 2px #000000;
}

.rbc-day-bg {
  background-color: white !important;
  border: 1px solid darkgray !important;
}

.rbc-now, .rbc-current {
  color: black !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.rbc-button-link {
  color: black !important;
  font-size: 16px !important;
}

[role=columnheader] {
  color: white !important;
  font-size: 20px;
}

.rbc-month-view {
  border: 1px solid black !important;
}

.rbc-month-row {
  border-bottom: none !important;
  border-top: none !important;
}

.rbc-off-range-bg {
  background-color: #bababa !important;
}

.rbc-header {
  background-color: black !important;
  color: white !important;
  border: 1px solid darkgray !important;
  font-size: 20px !important;
}

.rbc-toolbar-label {
  color: black !important;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  padding-left: 6.3% !important;
}

@media screen and (max-width: 992px) {
  .rbc-toolbar-label {
    padding-left: 0 !important;
    width: 100% !important;
  }
}

.rbc-toolbar {
  margin-bottom: 1rem !important;
}

.rbc-toolbar > .rbc-btn-group > button {
  background-color: black !important;
  color: white !important;
}

.rbc-event {
  padding: 0 !important;
  height: 100%;
  width: 100% !important;
  background-color: red !important;
  padding-left: 4px !important;
}

.rbc-events-container {
  border: none !important;
  width: 100% !important;
}

.rbc-event-content {
  font-size: 16px !important;
}

.rbc-timeslot-group {
  padding: 0 !important;
  border: 1px solid rgb(95, 95, 95) !important;
  border-collapse: collapse !important;
}

.rbc-time-slot {
  color: black;
  border: none !important;
  padding: 0 !important;
}

.rbc-time-slot > span {
  font-weight: 500;
}

/* .rbc-day-slot {
  background-color: white !important;
  color: black !important;
  border: none !important;
} */

.rbc-time-column {
  background-color: #e5e5e5 !important;
  color: black !important;
  border: none !important;
}

.rbc-time-header {
  border: none !important;
}

.rbc-time-header-gutter, .rbc-label, .rbc-time-view {
  background-color: transparent !important;
  border: none !important;
}

.rbc-row-content {
  border: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-allday-cell {
  display: none !important;
}

.rbc-off-range {
  color: white !important;
}

.rbc-current-time-indicator {
  background-color: red !important;
}

.rbc-toolbar > .rbc-btn-group > .rbc-active {
  background-color: whitesmoke !important;
  color: black !important;
}

.rbc-toolbar > .rbc-btn-group > button:hover {
  background-color: whitesmoke !important;
  color: black !important;
}

.rbc-agenda-empty {
  color: black !important;
}

#event-card:hover #event-info {
  transform: translateY(0);
}

/* #event-info {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
} */

#event-card:hover img {
  filter: brightness(0.75);
}

.slick-slide > div {
  margin: 0 30px;
}

#footer-btn {
  padding: 20px 48px;
}

#cta-sub {
  border-radius: 0 0 0 20px;
}

#cta-btn {
  border-radius: 0 20px 0 0;
}

/* @keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#front-image {
  animation: fadeInOut 6s infinite;
} */

.video-responsive {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row-title {
  border-bottom: 1px solid black;
}

.row-content {
  font-weight: 500;
}